@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
	color: #E0E1DD;

	overflow-wrap: break-word;
	word-break: break-word;
	word-wrap: break-word;
}

html {
	background-color: #0D1B2A;
	font-family: "Rubik", sans-serif;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;

	line-height: 1.5;
	font-size: 1.15em;
}

body, html {
	width: 100%;
	box-sizing: border-box;

	margin: 0;
	padding: 0;
}

.page {
	display: none;
}

.page.active {
	display: block;
	margin : 0 auto;
	padding: 0 0.25cm;
	max-width: 30cm;
}
